:root {
    --nav_height: 56px;
    --foot_height: 48px;
    --middle_height: calc(100% - 104px);
    --primary_color: #296774;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* structure */

#app {
    height: 100%;
    width: 100%;
    cursor: default;
}

#top {
    height: var(--nav_height);
    width: 100%;
}

#middle {
    height: var(--middle_height);
    width: 100%;
}

#sidebar {
    height: 100%;
    float: left;
}

#main {
    height: 100%;
    width: calc(100% - 220px);
    float: right;
    position: relative;
}

#bottom {
    height: var(--foot_height);
    width: 100%;
    bottom: 0;
    position: absolute;
}

/* structure */

/* component-level */

#next {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

#prev {
    position: absolute;
    bottom: 20px;
    left: 0px;
}

#dropdown_btn, #dropdown_item {
    width: 270px;
}