/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AROneSans";
  src: url("static/fonts/AROneSans-VariableFont_ARRR,wght.ttf");
}